<div class="row">
    <div class="col-xs-12">
        <h3 class="font-oswald font-regular">
            <%= plugins.translate('В номере:') %>
            <hr>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Телевизор') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Кондиционер') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Холодильник') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Интернет') %>
            </label>
        </div>
    </div>
</div>