<p>
<hr>
</p>

<p>
<div class="row">

    <div class="col-xs-12 text-center tags">

        <a href="/locality/odessa" class="butt tag">
            <i class="fa fa-location-arrow"></i>
            <%= plugins.translate('Одесса') %>
        </a>

        <a href="/locality/chernomorsk" class="butt tag">
            <i class="fa fa-location-arrow"></i>
            <%= plugins.translate('Черноморск') %>
        </a>

        <a href="/locality/karolino-bugaz" class="butt tag">
            <i class="fa fa-location-arrow"></i>
            <%= plugins.translate('Каролино-Бугаз') %>
        </a>

        <a href="/locality/gribovka" class="butt tag">
            <i class="fa fa-location-arrow"></i>
            <%= plugins.translate('Грибовка') %>
        </a>

        <a href="/locality/zatoka" class="butt tag">
            <i class="fa fa-location-arrow"></i>
            <%= plugins.translate('Затока') %>
        </a>

    </div>

</div>
</p>