<div class="row">
    <div class="col-xs-12">
        <h3 class="font-oswald font-regular">
            <%= plugins.translate('Коммунальные:') %>
            <hr>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Ванная') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Душевая') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Горячая вода') %>
            </label>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="checkbox">
            <label class="font-ubuntu font-bold">
                <input type="checkbox" value="option1" /> <%=plugins.translate('Туалет') %>
            </label>
        </div>
    </div>

</div>