<header>

    <div class="top-bar animated fadeInDown">

        <a class="logo" data-menu-item="true" href="/"></a>

        <a class="menu-button" data-menu-button="true">
            <i class="fa fa-bars animated fadeInRight"></i>
            <i class="fa fa-close animated fadeInRight"></i>
        </a>

        <ul class="menu font-oswald text-uppercase" data-menu="true">
            <li><a href="/" data-menu-item="true"><%= plugins.translate('Отдохнуть') %></a></li>
            <li><a href="/about" data-menu-item="true"><%= plugins.translate('О проекте') %></a></li>
            <li><a href="/feedback" data-menu-item="true"><%= plugins.translate('Обратная связь') %></a></li>
        </ul>

        <ul class="langs">
            <li><div class="cell"><a data-lang="ru">RU</a></div></li>
            <li><div class="cell"><a data-lang="en">EN</a></div></li>
        </ul>
    </div>

</header>